* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #b8cfdf;
    --color-subtitulo: #8c8d8b;
    --color-hover: #799EB8;
}

.sidebar {
    width: 220px;
    background-color: #1a1f2c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
}

.sidebar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    margin-bottom: 1rem;
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--color-subtitulo);
    padding: 0.5rem;
    border-radius: 6px;
    transition: background 0.3s, color 0.3s;
}

.sidebar-menu li a:hover,
.sidebar-menu li a.active {
    background-color: var(--color-hover);
    color: white;
}

.sidebar-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.user {
    background-color: white;
    border-radius: 20rem;
    padding: 0.5rem 1rem;
    color: black;
    text-align: center;
    font-weight: 500;
}
