.curso-destacado {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: rgba(255, 255, 255, 1.0);
  border-radius: 12px;
  border: 1px solid;
  border-color: #3f5563;
  background: linear-gradient(
    135deg,
    rgba(25, 25, 31, 1) 0%,
    rgba(40, 44, 52, 0.5) 100%
    
  );
  gap: 16px;

}


.curso-destacado img {
  width: 355px;
  height: 180px;
  top:69px;
  left:23px;
  border-radius:12px 12px 12px 12px;
}


.informacion{
  display: flex;
  flex-direction: column;
}

.informacion h3{
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
}

.informacion p:first-of-type{
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
}

.siguiente{
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

progress{
  width: 100%;
  height: 10px;
  border-radius: 4px;
}
