.encabezado{
background-color: violet;
}

.encabezado__contenedor{
  display: flex ;
  justify-content: space-between;
}

.encabezado__logo{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
}

.encabezado__imagen{
  width: 57px;
  height: 32px;
}