.contenedor-principal {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.contenido-principal {
  margin-left: 200px;
  padding: 1rem;
  width: 100%;
}
.lista-cursos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}